Options +Indexes
php_value upload_max_filesize 128M
php_value post_max_size 128M
php_value max_execution_time 300
php_value max_input_time 300

<FilesMatch "\.md$">
    AddType "text/markdown; charset=UTF-8" .md
</FilesMatch>